---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: DEPLOYMENTNAME_REPLACEMEingress
  annotations:
    ingress.bluemix.net/redirect-to-https: "True"
spec:
  tls:
  - hosts:
    - HOSTNAME_REPLACEME
    secretName: TLSSECRET_REPLACEME
  rules:
  - host: HOSTNAME_REPLACEME
    http:
      paths:
      - path: /
        backend:
          serviceName: KUBESVCNAME_REPLACEME
          servicePort: PORTNUMBER_REPLACEME

