---
apiVersion: v1
kind: Service
metadata:
  name: KUBESVCNAME_REPLACEME
  labels:
    run: DEPLOYMENTNAME_REPLACEME
spec:
  selector:
    run: DEPLOYMENTNAME_REPLACEME
  ports:
   - protocol: TCP
     port: PORTNUMBER_REPLACEME

